<nav ng-controller="NavCtrl">
  <div class="nav-wrapper">
    <ul class="left hide-on-med-and-down">
      <li><a href="/auction" ng-hide="UserSignedIn">Current Auction</a></li>
      <li><a href="/userPage" ng-hide="UserSignedIn">User Page</a></li>
      <li><a href="/allItems" ng-hide="UserSignedIn">All Items</a></li>
      <li><a href="/logout" ng-hide="UserSignedIn">Logout</a></li>
      <li><a href="/login" ng-hide="noUserSignedIn">Login</a></li>
      <li><a href="/register" ng-hide="noUserSignedIn">Register</a></li>
    </ul>
    <img src="images/money.png" style="width; 60px; height: 60px;"/>
  </div>
</nav>
