<div class="userInfo">
  <h1>USER PAGE</h1>
  <h4>Welcome back: {{user.username}}</h4>
  <h4>email: {{user.email}}</h4>
  <h4>Your items:</h4>
</div>
<div ng-repeat="items in itemWon" class="itemCollection collection animated fadeInRight">
      <img src="{{items.imgUrl}}" alt="itemWon" style="width: 200px; height: 200px" />
        <h3>{{items.name}}</h3>
      <p>Starting Price: ${{items.startingPrice}}</p>
      <p>Final Price: ${{items.finalPrice}}</p>
      <h6>Won by: {{items.winner}}</h6>
</div>
