
html{
  font: 200 12px/1.5 Georgia, Times New Roman, serif;
}


/*styling for user page*/
* {margin: 0; padding: 0;}

div {
  margin: 20px;
}

ul {
  list-style-type: none;
  width: 1000px;
}

h3 {
  font: bold 20px/1.5 Helvetica, Verdana, sans-serif;
}

li img {
  float: left;
  margin: 0 15px 0 0;
}

li p {
  font: 200 12px/1.5 Georgia, Times New Roman, serif;
}

li {
  padding: 10px;
  overflow: auto;
}

li:hover {
  background: #eee;
  cursor: pointer;
}

.userInfo{
  text-align: center
}
.itemCollection{
  border-radius: 7px;
  margin-left: 350px;
  box-shadow: 8px 6px 5px grey;
}
.allItems{
  border-radius: 7px;
}
/*end user page*/

/*auction page*/
.container{
  min-width: 100%;
  min-height: 100%
}
.mainImage{
  float:left;
  box-shadow: 7px 7px 7px grey;
  border-radius: 7px;
  margin-left: 50px;
  padding-top: 30px;
}
.mainInfo{
  border-radius: 7px;
  margin-left: 50px;
}

.salesDiv{
  border: 1px solid darkblue;
  background-color: lightblue;
  margin-left: 550px;
  border-radius: 7px;
  box-shadow: 7px 5px 5px grey;
  margin-right: 150px;
  width: 400px;
  height: 300px;
  text-align: left;
  padding-top: 25px;
  padding-left: 25px;
}

.btn{
  margin-left: 1px;
  margin-bottom: 1px;
}

.bidInput{
  margin-left: 550px;
  width: 400px;
  border: 1px solid black;
  border-radius: 7px;
}
.bidBtn{
  margin-left: 27px;
}
input[type="number"]{
  font-size: 20px;
}

/*register page*/
.welcome{
  text-align: center
}
.register{}

/*media query*/

@media screen and (min-width:600px ) and (max-width:900px) {
  * {margin: 0; padding: 0;}

  .mainImage{
    box-shadow: 5px 5px 5px grey;
    border-radius: 7px;
    margin-left: 50px;
    padding-top: 30px;
    margin-right: 500px;
  }
  .mainInfo{
    border-radius: 7px;
    margin-left: 50px;
    text-align: center
  }

  .salesDiv{
    border: 1px solid darkblue;
    background-color: lightblue;
    margin-left: 50px !important;
    border-radius: 7px;
    box-shadow: 7px 5px 5px grey;
    /*margin-right: 550px;*/
    width: 400px;
    height: 300px;
    text-align: left;
    padding-top: 25px;
    padding-left: 25px;
  }

  .btn{
    margin-left: 1px;
    margin-bottom: 1px;
  }

  .bidInput{
    margin-left: 50px!important;
    width: 400px;
    border: 1px solid black;
    border-radius: 7px;
    margin-right: 500px;
  }
  .bidBtn{
    margin-left: 19px !important;
  }
  input[type="number"]{
    font-size: 20px;
  }

  //////////**styling for user page/////////////////*/
  .userInfo{
    text-align: center
  }
  .itemCollection{
    border-radius: 7px;
    margin-left: 50px !important;
    box-shadow: 8px 6px 5px grey;
  }
 }
  .allItems{
    border-radius: 7px;
  }
  /*end user page*/

/*end media query*/
}
